.format {
    margin-left: 17%;
    margin-top: 20px;
}

.column1 {
    width: 80px; 
    margin-left: -100px;
}

.column2 {
    width: 80px; 
    margin-left: 100px; 
    top: -243px;
}

.uploadImage {
    background-color: #569CD7; 
    color: white; 
    top: -20px; 
    margin-left: 0%; 
    position: relative;
}

.uploadFlag {
    background-color: #569CD7; 
    color: white; 
    top: -42.5px; 
    margin-left: 160px; 
    position: relative;
}

.uploadCrest {
    background-color: #569CD7; 
    color: white; 
    top: -40px; 
    margin-left: 160px; 
    position: relative;
}

.last_name {
    width: 300px; margin-left: -70px
}

.or1 {
    margin-top: -42.5px; margin-left: 120px
}

.nation_file_ {
    margin-top: -30px; margin-left: 120px
}

.or2 {
    margin-top: -42.5px; margin-left: 120px
}

.visible_club_file {
    margin-top: -30px; margin-left: 120px
}

.or3 {
    margin-left: 100px; margin-top: -40px
}

.custom_league {
    width: 180px; margin-left: 140px; top: -60px;
}

.visible_player_file {
    margin-top: 10px; margin-left: 20px
}