<div style="z-index: -5000; position: absolute;">
   <img style="filter: brightness(.6); transform: rotate(90deg); margin-left: -340px; width: 1900px; margin-top: 100px;" src="assets/pitch2.png">
</div>


<div style="margin-top: 250px; margin-left: 40%; z-index: 5; position: absolute; display: flex;">

   <div style="position: absolute; margin-top: 10px; margin-left: -90px; z-index: -2;">
      <img class="strikerToLW" style="width: 5px; height: 220px; z-index: -5;" src="{{ checkChemistry(striker, left_winger) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 10px; margin-left: 200px; z-index: -50;">
      <img class="strikerToRW" style="width: 5px; height: 220px; z-index: -5;" src="{{ checkChemistry(striker, right_winger) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 130px; margin-left: -40px; z-index: -50;">
      <img class="strikerToLCM" style="width: 5px; height: 220px; z-index: -5;" src="{{ checkChemistry(striker, lcm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 130px; margin-left: 150px; z-index: -50;">
      <img class="strikerToRCM" style="width: 5px; height: 220px; z-index: -5;" src="{{ checkChemistry(striker, rcm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 130px; margin-left: -220px; z-index: -50;">
      <img class="LWToCM" style="width: 5px; height: 220px; z-index: -5;" src="{{ checkChemistry(left_winger, lcm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 130px; margin-left: 330px; z-index: -50;">
      <img class="RWToCM" style="width: 5px; height: 220px; z-index: -5;" src="{{ checkChemistry(right_winger, rcm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 220px; margin-left: 50px; z-index: -50;">
      <img class="CMToCM" style="width: 5px; height: 330px; z-index: -5;" src="{{ checkChemistry(lcm, rcm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 380px; margin-left: -40px; z-index: -50;">
      <img class="LCMToCDM" style="width: 5px; height: 150px; z-index: -5;" src="{{ checkChemistry(lcm, cdm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 380px; margin-left: 140px; z-index: -50;">
      <img class="RCMToCDM" style="width: 5px; height: 150px; z-index: -5;" src="{{ checkChemistry(rcm, cdm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 540px; margin-left: -20px; z-index: -50;">
      <img class="CDMToLCB" style="width: 5px; height: 250px; z-index: -5;" src="{{ checkChemistry(cdm, lcb) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 540px; margin-left: 150px; z-index: -50;">
      <img class="CDMToRCB" style="width: 5px; height: 250px; z-index: -5;" src="{{ checkChemistry(cdm, rcb) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 540px; margin-left: 450px; z-index: -50;">
      <img class="CBToRB" style="width: 5px; height: 350px; z-index: -5;" src="{{ checkChemistry(rcb, rb) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 590px; margin-left: 75px; z-index: -50;">
      <img class="CBToCB" style="width: 5px; height: 350px; z-index: -5;" src="{{ checkChemistry(lcb, rcb) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 560px; margin-left: -250px; z-index: -50;">
      <img class="CBToLB" style="width: 5px; height: 350px; z-index: -5;" src="{{ checkChemistry(lcb, lb) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 360px; margin-left: -250px; z-index: -50;">
      <img class="LBToCM" style="width: 5px; height: 350px; z-index: -5;" src="{{ checkChemistry(lb, lcm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 360px; margin-left: 440px; z-index: -50;">
      <img class="RBToCM" style="width: 5px; height: 450px; z-index: -5;" src="{{ checkChemistry(rb, rcm) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 780px; margin-left: -20px; z-index: -50;">
      <img class="GKToLCB" style="width: 5px; height: 180px; z-index: -5;" src="{{ checkChemistry(gk, lcb) }}" alt="line">
   </div>

   <div style="position: absolute; margin-top: 780px; margin-left: 180px; z-index: -50;">
      <img class="GKToRCB" style="width: 5px; height: 180px; z-index: -5;" src="{{ checkChemistry(gk, rcb) }}" alt="line">
   </div>



<!-- STRIKER -->
<div>
<div style="margin-top: 15px; position: absolute; z-index: 4;">
    <img class="card" (click)="updatePlayer(striker)" (click)="openDialog()" src="{{ striker.card }}" alt="striker">
    <div class="card" [class.legend_font]="is_LegendCard(striker)" [class.standard_font]="!is_LegendCard(striker)">
       <h1 class="name" (click)="openDialog()" style="margin-top: -167px;">{{ striker.name }}</h1>
       <h2 class="rating" (click)="openDialog()" style="margin-left: 8px; margin-top: -7px;">{{ striker.overall }}</h2>
       <h3 class="position" (click)="openDialog()" style="margin-left: 42px; margin-top: -32px;">ST</h3>
     
       <img (click)="openDialog()" width="52px" height="58px" style="margin-left: 57px; margin-top: -17px; position: absolute;" *ngIf="striker.image" [src]="striker.image" class="image">
       <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ striker.nation }}" >
       <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ striker.club }}" >
       <div [class.legend_font]="is_LegendCard(striker)" [class.standard_font]="!is_LegendCard(striker)">
       <p *ngIf="striker.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ striker.pace }} PAC</p>
       <p *ngIf="striker.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ striker.shooting }} SHO</p>
       <p *ngIf="striker.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ striker.passing }} PAS</p>
       <p *ngIf="striker.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ striker.dribbling }} DRI</p>
       <p *ngIf="striker.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ striker.defending }} DEF</p>
       <p *ngIf="striker.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ striker.heading }} HEA</p>
      </div>

    </div>
    </div>
   </div>

<!-- LEFT WINGER -->
<div>
<div style="margin-left: -300px; margin-top: 35px; position: absolute; z-index: 10;">
   <img class="card" (click)="updatePlayer(left_winger)" (click)="openLeftWinger()" src="{{ left_winger.card }}" alt="left winger">
   <div class="card" [class.legend_font]="is_LegendCard(left_winger)" [class.standard_font]="!is_LegendCard(left_winger)">
      <h1 class="name" (click)="openLeftWinger()" style="margin-top: -167px;">{{ left_winger.name }}</h1>
      <h2 class="rating" (click)="openLeftWinger()" style="margin-left: 8px; margin-top: -7px;">{{ left_winger.overall }}</h2>
      <h3 class="position" (click)="openLeftWinger()" style="margin-left: 42px; margin-top: -32px;">LW</h3>
    
      <img (click)="openLeftWinger()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="left_winger.image" [src]="left_winger.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ left_winger.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ left_winger.club }}" >
      <div [class.legend_font]="is_LegendCard(left_winger)" [class.standard_font]="!is_LegendCard(left_winger)">
      <p *ngIf="left_winger.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ left_winger.pace }} PAC</p>
      <p *ngIf="left_winger.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ left_winger.shooting }} SHO</p>
      <p *ngIf="left_winger.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ left_winger.passing }} PAS</p>
      <p *ngIf="left_winger.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ left_winger.dribbling }} DRI</p>
      <p *ngIf="left_winger.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ left_winger.defending }} DEF</p>
      <p *ngIf="left_winger.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ left_winger.heading }} HEA</p>


   </div>
   </div>
</div>

   <!-- RIGHT WINGER -->
   <div>
<div style="margin-left: 300px; margin-top: 35px; position: absolute; z-index: 4;">
   <img class="card" (click)="updatePlayer(right_winger)" (click)="openRightWinger()" src="{{ right_winger.card }}" alt="right winger">
   <div class="card" [class.legend_font]="is_LegendCard(right_winger)" [class.standard_font]="!is_LegendCard(right_winger)">
      <h1 class="name" (click)="openRightWinger()" style="margin-top: -167px;">{{ right_winger.name }}</h1>
      <h2 class="rating" (click)="openRightWinger()" style="margin-left: 8px; margin-top: -7px;">{{ right_winger.overall }}</h2>
      <h3 class="position" (click)="openRightWinger()" style="margin-left: 42px; margin-top: -32px;">RW</h3>
       
      <img (click)="openRightWinger()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="right_winger.image" [src]="right_winger.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ right_winger.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ right_winger.club }}" >
      <div [class.legend_font]="is_LegendCard(right_winger)" [class.standard_font]="!is_LegendCard(right_winger)">
      <p *ngIf="right_winger.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ right_winger.pace }} PAC</p>
      <p *ngIf="right_winger.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ right_winger.shooting }} SHO</p>
      <p *ngIf="right_winger.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ right_winger.passing }} PAS</p>
      <p *ngIf="right_winger.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ right_winger.dribbling }} DRI</p>
      <p *ngIf="right_winger.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ right_winger.defending }} DEF</p>
      <p *ngIf="right_winger.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ right_winger.heading }} HEA</p>
   
   
</div>
</div>
</div>

<!-- LEFT CENTRAL MIDFIELDER -->
<div>
<div style="margin-left: -200px; margin-top: 300px; position: absolute;">
   <img class="card" (click)="updatePlayer(lcm)" (click)="openLCM()" src="{{ lcm.card }}" alt="lcm">
   <div class="card" [class.legend_font]="is_LegendCard(lcm)" [class.standard_font]="!is_LegendCard(lcm)">
      <h1 class="name" (click)="openLCM()" style="margin-top: -167px;">{{ lcm.name }}</h1>
      <h2 class="rating" (click)="openLCM()" style="margin-left: 8px; margin-top: -7px;">{{ lcm.overall }}</h2>
      <h3 class="position" (click)="openLCM()" style="margin-left: 42px; margin-top: -32px;">CM</h3>
          
      <img (click)="openLCM()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="lcm.image" [src]="lcm.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ lcm.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ lcm.club }}" >
      <div [class.legend_font]="is_LegendCard(lcm)" [class.standard_font]="!is_LegendCard(lcm)">
      <p *ngIf="lcm.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ lcm.pace }} PAC</p>
      <p *ngIf="lcm.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ lcm.shooting }} SHO</p>
      <p *ngIf="lcm.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ lcm.passing }} PAS</p>
      <p *ngIf="lcm.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ lcm.dribbling }} DRI</p>
      <p *ngIf="lcm.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ lcm.defending }} DEF</p>
      <p *ngIf="lcm.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ lcm.heading }} HEA</p>
      
      
   </div>
   </div>
   </div>
   <!-- RIGHT CENTRAL MIDFIELDER -->
   <div>
<div style="margin-left: 200px; margin-top: 300px; position: absolute;">
   <img class="card" (click)="updatePlayer(rcm)" (click)="openRCM()" src="{{ rcm.card }}" alt="rcm">
   <div class="card" [class.legend_font]="is_LegendCard(rcm)" [class.standard_font]="!is_LegendCard(rcm)">
      <h1 class="name" (click)="openRCM()" style="margin-top: -167px;">{{ rcm.name }}</h1>
      <h2 class="rating" (click)="openRCM()" style="margin-left: 8px; margin-top: -7px;">{{ rcm.overall }}</h2>
      <h3 class="position" (click)="openRCM()" style="margin-left: 42px; margin-top: -32px;">CM</h3>
             
      <img (click)="openRCM()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="rcm.image" [src]="rcm.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ rcm.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ rcm.club }}" >
      <div [class.legend_font]="is_LegendCard(rcm)" [class.standard_font]="!is_LegendCard(rcm)">
      <p *ngIf="rcm.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ rcm.pace }} PAC</p>
      <p *ngIf="rcm.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ rcm.shooting }} SHO</p>
      <p *ngIf="rcm.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ rcm.passing }} PAS</p>
      <p *ngIf="rcm.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ rcm.dribbling }} DRI</p>
      <p *ngIf="rcm.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ rcm.defending }} DEF</p>
      <p *ngIf="rcm.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ rcm.heading }} HEA</p>
         
         
   </div>
   </div>
</div>
<!-- HOLDING MIDFIELDER -->

<div *ngIf="!isStrikerYet()">
</div>

<div>
<div style="margin-left: 0px; margin-top: 460px; position: absolute;">
   <img class="card" (click)="updatePlayer(cdm)" (click)="openCDM()" src="{{ cdm.card }}" alt="cdm">
   <div class="card" [class.legend_font]="is_LegendCard(cdm)" [class.standard_font]="!is_LegendCard(cdm)">
      <h1 class="name" (click)="openCDM()" style="margin-top: -167px;">{{ cdm.name }}</h1>
      <h2 class="rating" (click)="openCDM()" style="margin-left: 8px; margin-top: -7px;">{{ cdm.overall }}</h2>
      <h3 class="position" (click)="openCDM()" style="margin-left: 42px; margin-top: -32px;">CDM</h3>
                
      <img (click)="openCDM()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="cdm.image" [src]="cdm.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ cdm.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ cdm.club }}" >
      <div [class.legend_font]="is_LegendCard(cdm)" [class.standard_font]="!is_LegendCard(cdm)">
      <p *ngIf="cdm.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ cdm.pace }} PAC</p>
      <p *ngIf="cdm.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ cdm.shooting }} SHO</p>
      <p *ngIf="cdm.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ cdm.passing }} PAS</p>
      <p *ngIf="cdm.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ cdm.dribbling }} DRI</p>
      <p *ngIf="cdm.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ cdm.defending }} DEF</p>
      <p *ngIf="cdm.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ cdm.heading }} HEA</p>
            
            
   </div>
   </div>
</div>

   <!-- LEFT BACK -->
   <div>
<div style="margin-left: -450px; margin-top: 620px; position: absolute;">
   <img class="card" (click)="updatePlayer(lb)" (click)="openLB()" src="{{ lb.card }}" alt="lb">
   <div class="card" [class.legend_font]="is_LegendCard(lb)" [class.standard_font]="!is_LegendCard(lb)">
      <h1 class="name" (click)="openLB()" style="margin-top: -167px;">{{ lb.name }}</h1>
      <h2 class="rating" (click)="openLB()" style="margin-left: 8px; margin-top: -7px;">{{ lb.overall }}</h2>
      <h3 class="position" (click)="openLB()" style="margin-left: 42px; margin-top: -32px;">LB</h3>
                   
      <img (click)="openLB()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="lb.image" [src]="lb.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ lb.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ lb.club }}" >
      <div [class.legend_font]="is_LegendCard(lb)" [class.standard_font]="!is_LegendCard(lb)">
      <p *ngIf="lb.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ lb.pace }} PAC</p>
      <p *ngIf="lb.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ lb.shooting }} SHO</p>
      <p *ngIf="lb.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ lb.passing }} PAS</p>
      <p *ngIf="lb.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ lb.dribbling }} DRI</p>
      <p *ngIf="lb.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ lb.defending }} DEF</p>
      <p *ngIf="lb.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ lb.heading }} HEA</p>
               
               
   </div>
   </div>
</div>
   
   <!-- LEFT CENTER BACK -->
   <div>
<div style="margin-left: -130px; margin-top: 670px; position: absolute;">
   <img class="card" (click)="updatePlayer(lcb)" (click)="openLCB()" src="{{ lcb.card }}" alt="lcb">
   <div class="card" [class.legend_font]="is_LegendCard(lcb)" [class.standard_font]="!is_LegendCard(lcb)">
      <h1 class="name" (click)="openLCB()" style="margin-top: -167px;">{{ lcb.name }}</h1>
      <h2 class="rating" (click)="openLCB()" style="margin-left: 8px; margin-top: -7px;">{{ lcb.overall }}</h2>
      <h3 class="position" (click)="openLCB()" style="margin-left: 42px; margin-top: -32px;">CB</h3>
                      
      <img (click)="openLCB()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="lcb.image" [src]="lcb.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ lcb.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ lcb.club }}" >
      <div [class.legend_font]="is_LegendCard(lcb)" [class.standard_font]="!is_LegendCard(lcb)">
      <p *ngIf="lcb.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ lcb.pace }} PAC</p>
      <p *ngIf="lcb.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ lcb.shooting }} SHO</p>
      <p *ngIf="lcb.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ lcb.passing }} PAS</p>
      <p *ngIf="lcb.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ lcb.dribbling }} DRI</p>
      <p *ngIf="lcb.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ lcb.defending }} DEF</p>
      <p *ngIf="lcb.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ lcb.heading }} HEA</p>
                  
                  
   </div>
   </div>

</div>

   <!-- RIGHT CENTER BACK -->
   <div>
<div style="margin-left: 170px; margin-top: 670px; position: absolute;">
   <img class="card" (click)="updatePlayer(rcb)" (click)="openRCB()" src="{{ rcb.card }}" alt="rcb">
   <div class="card" [class.legend_font]="is_LegendCard(rcb)" [class.standard_font]="!is_LegendCard(rcb)">
      <h1 class="name" (click)="openRCB()" style="margin-top: -167px;">{{ rcb.name }}</h1>
      <h2 class="rating" (click)="openRCB()" style="margin-left: 8px; margin-top: -7px;">{{ rcb.overall }}</h2>
      <h3 class="position" (click)="openRCB()" style="margin-left: 42px; margin-top: -32px;">CB</h3>
                         
      <img (click)="openRCB()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="rcb.image" [src]="rcb.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ rcb.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ rcb.club }}" >
      <div [class.legend_font]="is_LegendCard(rcb)" [class.standard_font]="!is_LegendCard(rcb)">
      <p *ngIf="rcb.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ rcb.pace }} PAC</p>
      <p *ngIf="rcb.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ rcb.shooting }} SHO</p>
      <p *ngIf="rcb.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ rcb.passing }} PAS</p>
      <p *ngIf="rcb.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ rcb.dribbling }} DRI</p>
      <p *ngIf="rcb.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ rcb.defending }} DEF</p>
      <p *ngIf="rcb.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ rcb.heading }} HEA</p>
                     
                     
   </div>
   </div>
</div>
<!-- RIGHT BACK -->
<div>
<div style="margin-left: 520px; margin-top: 620px; position: absolute;">
   <img class="card" (click)="updatePlayer(rb)" (click)="openRB()" src="{{ rb.card }}" alt="rb">
   <div class="card" [class.legend_font]="is_LegendCard(rb)" [class.standard_font]="!is_LegendCard(rb)">
      <h1 class="name" (click)="openRB()" style="margin-top: -167px;">{{ rb.name }}</h1>
      <h2 class="rating" (click)="openRB()" style="margin-left: 8px; margin-top: -7px;">{{ rb.overall }}</h2>
      <h3 class="position" (click)="openRB()" style="margin-left: 42px; margin-top: -32px;">RB</h3>
                            
      <img (click)="openRB()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="rb.image" [src]="rb.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ rb.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ rb.club }}" >
      <div [class.legend_font]="is_LegendCard(rb)" [class.standard_font]="!is_LegendCard(rb)">
      <p *ngIf="rb.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ rb.pace }} PAC</p>
      <p *ngIf="rb.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ rb.shooting }} SHO</p>
      <p *ngIf="rb.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ rb.passing }} PAS</p>
      <p *ngIf="rb.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ rb.dribbling }} DRI</p>
      <p *ngIf="rb.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ rb.defending }} DEF</p>
      <p *ngIf="rb.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ rb.heading }} HEA</p>
                        
                        
   </div>
   </div>   
</div>

   <!-- GOALKEEPER -->
   <div>
<div style="margin-left: 30px; margin-top: 900px; position: absolute;">
   <img class="card" (click)="updatePlayer(gk)" (click)="openGK()" src="{{ gk.card }}" alt="gk">
   <div class="card" [class.legend_font]="is_LegendCard(gk)" [class.standard_font]="!is_LegendCard(gk)">
      <h1 class="name" (click)="openGK()" style="margin-top: -167px;">{{ gk.name }}</h1>
      <h2 class="rating" (click)="openGK()" style="margin-left: 8px; margin-top: -7px;">{{ gk.overall }}</h2>
      <h3 class="position" (click)="openGK()" style="margin-left: 42px; margin-top: -32px;">GK</h3>
                            
      <img (click)="openGK()" width="52px" height="58px" style="margin-left: 57px; margin-top: -18px; position: absolute;" *ngIf="gk.image" [src]="gk.image" class="image">
      <img width="27px" height="15px" style="margin-left: 13px; margin-top: 24px; position: absolute; box-shadow: 0.2px 0.2px;" src="{{ gk.nation }}" >
      <img height="24 px" style="margin-left: 13px; margin-top: -4px; position: absolute;" src="{{ gk.club }}" >
      <div [class.legend_font]="is_LegendCard(gk)" [class.standard_font]="!is_LegendCard(gk)">
      <p *ngIf="gk.pace" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 14.5px; position: absolute;">{{ gk.pace }} DIV</p>
      <p *ngIf="gk.shooting" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 14.5px; position: absolute">{{ gk.shooting }} HAN</p>
      <p *ngIf="gk.passing" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 14.5px; position: absolute">{{ gk.passing }} KIC</p>
      <p *ngIf="gk.dribbling" style="font-weight: 600; font-size: 11px; margin-top: 60px; margin-left: 66.5px; position: absolute">{{ gk.dribbling }} REF</p>
      <p *ngIf="gk.defending" style="font-weight: 600; font-size: 11px; margin-top: 76px; margin-left: 66.5px; position: absolute">{{ gk.defending }} SPE</p>
      <p *ngIf="gk.heading" style="font-weight: 600; font-size: 11px; margin-top: 91px; margin-left: 66.5px; position: absolute">{{ gk.heading }} POS</p>
                        
                        
   </div>
   </div> 
</div>  


</div>
</div>

